<div data-bind="text:JSON.stringify(ko.mapping.toJS($root))"></div>

<!-- ko foreach:data.items -->
	<div class="list-group-item"">
		<a href="#" class="actions pull-right" data-bind="click:$root.setCurrentItem"><span class="glyphicon glyphicon-info-sign"></span></a>
		<a href="#" class="checkbox" data-bind="click:$root.toggleItemCheck">
			<span data-bind="text:quantity()>0? '{0} {1} {2}'.format(quantity(), unit() && unit()!='undefined'? unit() : '', product.name()) : product.name()"></span>
			<span class="price" data-bind="visible:price()>0, text:'@ ${0}'.format(Number((quantity()? quantity() : 1)*price()).format(2))"></span>
		</a>
		<div class="row actions-pane" data-bind="visible:$root.currentItem().id()==id()">
			<button class="col-xs-4 btn btn-sm" data-bind="click:$root.showItem"><span class="glyphicon glyphicon-pencil"></span> Quantity/Price</button>
			<button class="col-xs-4 btn btn-sm" data-bind="click:$root.showProduct"><span class="glyphicon glyphicon-pencil"></span> Product</button>
			<button class="col-xs-4 btn btn-sm" data-bind="click:$root.removeItem"><span class="glyphicon glyphicon-trash"></span> Delete</button>
		</div>
	</div>
<!-- /ko -->