<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns 	= "http://www.w3.org/ns/widgets"
        xmlns:gap 	= "http://phonegap.com/ns/1.0"
        id        	= "ec.factor.gosh.debug"
        versionCode	= "11" 
        version   	= "1.0.0">

   <name>Gosh</name>

    <description>
        Manage your shopping, do shopping list. 
    </description>

    <author href="http://factor.ec" email="info@factor.ec">
        Juan Carlos Altamirano
    </author>
	
	<preference name="phonegap-version" value="3.3.0" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="android-minSdkVersion" value="11" /> 
	<preference name="android-targetSdkVersion" value="14" /> 	
	
	<access origin="http://127.0.0.1*"/>
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="com.adobe.plugins.gaplugin" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	
	<icon src="icon.png" />
</widget>