<form id="cart" style="padding-bottom:85px;" data-bind="submit:saveItems">
	<style>
		#cart .search-input {margin-top:15px;}
		#cart .search-input [type="search"] {padding: 20px 12px;}
		#cart #products-list .list-group-item:first-child {border-top:0;}
		#cart #products-list.open {margin-top: -15px;}
		#cart .list-group {box-shadow: 0 1px 1px #E2E2E2;}
		#cart .list-group.checked .checkbox {text-decoration: line-through;}
		#cart .list-group.checked a {color:#999;}
		#cart .list-group-item {border-radius:0;}
		#cart .list-group-item a:hover {text-decoration:none; background-color: #F5F5F5;}
		#cart .list-group-item .checkbox .price {color:#A9A9A9;}
		#cart .list-group-item .actions {margin: -10px -15px;}
		#cart .list-group-item .actions a {padding: 10px 13px; float:right;}
		#cart .list-group-item .actions-pane {margin: -10px -15px; margin-top:10px;}
		#cart .list-group-item .actions-pane button {border-radius:0; background-color: #FFF; font-size:11px;}
		#cart .list-group-item .actions-pane button .glyphicon {margin-bottom: 5px; margin-left: auto; margin-right: auto; display: block;}
		#cart .list-group-item .checkbox {display:block; margin: -10px -15px; padding: 10px 15px;}
		#cart .list-group-item .checkbox,
		#cart .list-group-item .actions-pane {border-left:2px solid rgba(255,255,255,0);}
		#cart #summary {background: #F8F8F8; bottom: 50px; border: 0;}
		
		@media (max-width: 767px) {
			#cart .search-input {position:relative; margin: -15px; margin-bottom: 15px; margin-top:0;}
			#cart .summary-values {margin-left: 10px; margin-top: 8px; margin-bottom: 5px; font-size:12px;}
			#cart .summary-values > div {margin:0;}
		}
	</style>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-bind="with:list">
		<div class="pull-left" data-bind="visible:id()>1">
			<a href="#/lists" class="btn"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<div class="navbar-text text-center title" data-bind="text:name"></div>
		<div class="pull-right">
			<div class="btn-group pull-right">
				<a href="#" class="btn dropdown-toggle" style="background:transparent; border-color:transparent;" data-toggle="dropdown"><span style="line-height: 0px; font-size: 27px; font-weight: bold;">...</span></a>
				<ul class="dropdown-menu pull-right">					
					<li data-bind="css:{disabled:$root.items().length==0}"><a href="#" data-bind="click:$root.clearAll">Clear all</a></li>
					<li class="divider"></li>
					<li data-bind="css:{disabled:$root.items().length==0}"><a href="#" data-bind="click:$root.markAll">Mark all</a></li>
					<li data-bind="css:{disabled:$root.items().length==0}"><a href="#" data-bind="click:$root.unmarkAll">Unmark all</a></li>
					<!-- <li class="divider"></li> -->
					<!-- <li data-bind="css:{disabled:$root.items().length==0}"><a href="#" data-bind="click:$root.share">Share to email</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
    <div style="position:relative;">
		<div class="search-input form-group">
			<input type="search" class="form-control" placeholder="Add a product to list" data-bind="value:query, valueUpdate: 'afterkeydown', hasFocus: items().length==0" />
			<button class="btn btn-default btn-right" type="button" style="padding: 10px 12px;" data-bind="click:scan"><span class="glyphicon glyphicon-barcode"></span> <span class="hidden-xs hidden-sm">Scan barcode</span></button>
		</div>
		
		<div id="products-list" class="list-group" data-bind="css:{open:queryParts().name.length>0 || products().length>0}">
			<!-- ko foreach:products -->
				<a href="#" class="list-group-item" data-bind="click:$root.addItem">
					<span class="pull-right glyphicon glyphicon-plus-sign" style="color:#5CB85C;"></span>
					<span data-bind="visible:$root.queryParts().quantity>0, text:'{0} '.format($root.queryParts().quantity)" style="color:#999;"></span><span data-bind="text:name"></span><span style="color:#999;" data-bind="visible:$root.queryParts().name==code, text:' - {0}'.format(code)"></span>
				</a>
			<!-- /ko -->
			<!-- ko if:queryParts().name.length>0 && products().length==0 -->
				<a href="#" class="list-group-item" data-bind="click:$root.createProduct.bind($data, $root.queryParts().name)">
					<span class="pull-right glyphicon glyphicon-plus-sign" style="color:#5CB85C;"></span>
					<span data-bind="visible:$root.queryParts().quantity>0, text:'{0} '.format($root.queryParts().quantity)" style="color:#999;"></span><span data-bind="text:$root.queryParts().name"></span>
				</a>
			<!-- /ko -->
		</div>
		
		<div data-bind="visible:items().length==0" class="no-data">
			<span class="glyphicon" data-bind="css:{'glyphicon-shopping-cart':list.id()==1}"></span><br />
			You have not added products yet
		</div>
		
		<div class="list-group" style="margin-bottom:20px;">
			<!-- ko foreach:items -->
				<div class="list-group-item" data-bind="css:{'hidden':checked()}">
					<div class="actions pull-right">
						<a href="#" data-bind="click:$root.setCurrentItem"><span class="glyphicon glyphicon-info-sign"></span></a>
						<a href="#" data-bind="visible:cart.id() && $root.list.id()!=1"><span class="glyphicon glyphicon-shopping-cart"></span></a>
					</div>
					<a href="#" class="checkbox" data-bind="click:$root.toggleItemCheck, style:{'border-left-color':product.category.color? product.category.color : 'inherit'}">
						<span data-bind="text:quantity()>0? '{0} {1} {2}'.format(quantity(), unit() && unit()!='undefined'? unit() : '', product.name()) : product.name()"></span>
						<span style="color:#a1c5e5;" data-bind="visible:price()>0, text:'@ ${0}'.format(Number((quantity()? quantity() : 1)*price()).format(2))"></span>
					</a>
					<div class="row actions-pane" data-bind="visible:$root.currentItem().id()==id(), style:{'border-left-color':product.category.color? product.category.color : 'inherit'}">
						<button class="col-xs-4 btn btn-sm" data-bind="click:$root.showItem"><span class="glyphicon glyphicon-pencil"></span> Quantity/Price</button>
						<button class="col-xs-4 btn btn-sm" data-bind="click:$root.showProduct"><span class="glyphicon glyphicon-pencil"></span> Product</button>
						<button class="col-xs-4 btn btn-sm" data-bind="click:$root.removeItem"><span class="glyphicon glyphicon-trash"></span> Delete</button>
					</div>
				</div>		
			<!-- /ko -->
		</div>
		<div class="list-group checked">
			<!-- ko foreach:items -->
				<div class="list-group-item" data-bind="css:{'hidden':!checked()}">
					<div class="actions pull-right">
						<a href="#" data-bind="click:$root.setCurrentItem"><span class="glyphicon glyphicon-info-sign"></span></a>
					</div>
					<a href="#" class="checkbox" data-bind="click:$root.toggleItemCheck">
						<span data-bind="text:quantity()>0? '{0} {1} {2}'.format(quantity(), unit() && unit()!='undefined'? unit() : '', product.name()) : product.name()"></span>
						<span class="price" data-bind="visible:price()>0, text:'@ ${0}'.format(Number((quantity()? quantity() : 1)*price()).format(2))"></span>
					</a>
					<div class="row actions-pane" data-bind="visible:$root.currentItem().id()==id()">
						<button class="col-xs-4 btn btn-sm" data-bind="click:$root.showItem"><span class="glyphicon glyphicon-pencil"></span> Quantity/Price</button>
						<button class="col-xs-4 btn btn-sm" data-bind="click:$root.showProduct"><span class="glyphicon glyphicon-pencil"></span> Product</button>
						<button class="col-xs-4 btn btn-sm" data-bind="click:$root.removeItem"><span class="glyphicon glyphicon-trash"></span> Delete</button>
					</div>
				</div>
			<!-- /ko -->
		</div>
		
	</div>
	<nav id="summary" class="navbar navbar-default navbar-fixed-bottom" data-bind="visible:totalPrice().remaining>0 || totalPrice().checked>0">
		<div class="pull-right" style="margin-right:10px; margin-top:8px;" data-bind="visible:totalPrice().checked>0">
			<button class="btn btn-primary" data-bind="click:checkout">Checkout</button>
		</div>
		<div data-bind="css:{'summary-values':totalPrice().remaining>0 && totalPrice().checked>0}" style="margin-left:10px;">
			<div class="remaining navbar-text" data-bind="visible:totalPrice().remaining>0">
				Remaining: <strong data-bind="text:'${0}'.format(Number(totalPrice().remaining).format(2))"></strong> 
			</div>
			<div class="purchased navbar-text" data-bind="visible:totalPrice().checked>0">
				Purchased: <strong data-bind="text:'${0}'.format(Number(totalPrice().checked).format(2))"></strong>
			</div>
		</div>
	</nav>	
</form>