<form data-bind="submit:save" style="margin-top:15px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="pull-left">
			<a href="#" class="btn" data-bind="click:$root.cancel"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<div class="navbar-text text-center title" data-bind="with:item"><span data-bind="text:product.name"></span></div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs hidden-sm">Save</span></button>
		</div>
	</nav>
    <div data-bind="with:item">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-6">
					<input type="number" class="form-control" min="0" step="any" name="quantity" placeholder="Quantity" data-bind="value:quantity" />
				</div>
				<div class="col-xs-6">
					<!-- <select name="unit" class="form-control" data-bind="value:unit, options:$root.units, optionsCaption:'Select a unit...'"></select> -->
					<select name="unit"><option value="">Select a unit...</option><option value="kg.">kg.</option><option value="gr.">gr.</option><option value="lb.">lb.</option><option value="oz.">oz.</option><option value="piece">piece</option><option value="bag">bag</option><option value="bottle">bottle</option><option value="box">box</option><option value="case">case</option><option value="pack">pack</option><option value="jar">jar</option><option value="can">can</option><option value="cup">cup</option><option value="gallon">gallon</option></select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<input type="text" pattern="^-?(?:[0-9]+|[0-9]*\.[0-9]+)$" class="form-control" name="price" placeholder="Price" data-bind="value:price" />
		</div>
	</div>
</form>