<form data-bind="submit:save" style="margin-top:15px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="pull-left">
			<a href="#" class="btn" data-bind="click:$root.cancel"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<div class="navbar-text text-center title" data-bind="with:item"><span data-bind="text:product.name"></span></div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs" data-bind="text:_('Save')"></span></button>
		</div>
	</nav>
    <div data-bind="with:item">
		<div class="form-group">
			<input type="number" class="form-control" min="0" step="any" name="quantity" data-bind="value:quantity, attr:{placeholder:_('Quantity')}" />
		</div>
		<div class="form-group">
			<select name="unit" class="form-control" data-bind="value:unit, options:$root.units, optionsValue:'name', optionsText:'nameTranslated', optionsCaption:'{0}...'.format(_('Select a unit'))"></select>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="price" data-bind="value:price, attr:{placeholder:_('Price')}" />
		</div>
	</div>
</form>