<form id="list-form" style="padding-bottom:70px;" data-bind="submit:saveItems">
	<style>
		#list-form .exist {opacity:.4;}
		#list-form .checkbox {padding-left:0; margin:0; padding-top: 10px; padding-bottom: 10px;}
		#list-form [type="search"] {padding: 20px 12px;}
	</style>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-left">
			<a href="#" class="btn navbar-btn" data-bind="text:'‹ {0}'.format(list.name())"></a>
		</div>
	</nav>
    <div>
		<div class="form-group" style="position:relative; margin: -15px; margin-bottom: 15px;">
			<input type="search" class="form-control" placeholder="Add a product to list" data-bind="value:query, valueUpdate: 'afterkeydown'" />
			<button class="btn btn-default btn-right" type="button" style="padding: 10px 12px;" data-bind="click:scan"><img src="themes/default/images/scan-barcode.png" style="width:16px; height:16px;" /></button>
		</div>
		
		<div class="list-group">
			<!-- ko foreach:products -->
				<a href="#" class="list-group-item" data-bind="text:name, css:{exist:typeof exist=='boolean'}, click:$root.selectProduct"></a>
			<!-- /ko -->
			<!-- ko if:query().length>0 && products().length==0 --> 
				<a href="#" class="list-group-item" data-bind="text:query, click:$root.createProduct.bind($data, query())"></a>
			<!-- /ko -->
		</div>
		
		<div>
			<!-- ko foreach:items -->
				<!-- ko if:!checked() -->
					<div class="checkbox">
						<input type="checkbox" class="pull-left" style="margin-left:0; margin-right: 10px;" data-bind="value:product.id, checked:checked" />
						<a href="#" data-bind="text:quantity()>0? '{0} {1} {2}'.format(quantity(), unit()=='undefined'? unit() : '', product.name()) : product.name(), click:$root.setCurrentItem"></a>
						
						<div class="row" style="margin:0; margin-top:10px; border:1px solid #E7E7E7;" data-bind="visible:$root.currentItem().id()==id()">
							<button class="col-xs-4 btn btn-sm" style="border-radius:0; background-color: #F8F8F8;"><span class="glyphicon glyphicon-pencil" style="margin-bottom: 5px; display: block;"></span> Edit quantity</button>
							<button class="col-xs-4 btn btn-sm" style="border-radius:0; background-color: #F8F8F8;"><span class="glyphicon glyphicon-pencil" style="margin-bottom: 5px; display: block;"></span> Edit product</button>
							<button class="col-xs-4 btn btn-sm" style="border-radius:0; background-color: #F8F8F8;" data-bind="click:$root.removeItem"><span class="glyphicon glyphicon-minus-sign" style="margin-bottom: 5px; display: block;"></span> Delete item</button>
						</div>
					</div>
				<!-- /ko -->		
			<!-- /ko -->
		</div>
		<div style="margin-top:20px;">
			<!-- ko foreach:items -->
				<!-- ko if:checked -->
					<div class="checkbox" style="text-decoration: line-through; opacity:.5;">
						<!-- ko if:product.picture()!='undefined' -->
							<img class="pull-right" data-bind="attr:{src:product.picture}" style="max-height:42px; margin:-10px -15px;" />
						<!-- /ko -->
						<input type="checkbox" class="pull-left" style="margin-left:0; margin-right: 10px;" data-bind="checked:checked" />
						<span href="#" data-bind="text:quantity()>0? '{0} {1} {2}'.format(quantity(), unit()=='undefined'? unit() : '', product.name()) : product.name()"></span>
					</div>	
				<!-- /ko -->
			<!-- /ko -->
		</div>
	</div>		
	<!--
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<p class="navbar-text text-center" style="float:none;">Estimated price: $45</p>
	</nav>
	-->
</form>