<div id="lists" style="margin-top: 20px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-text text-center title" data-bind="text:_('Lists')"></div>
		<div class="pull-right">
			<button class="btn btn-primary" data-bind="click:create"><span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs hidden-sm">Add</span></button>
		</div>
	</nav>
	
	<div data-bind="visible:lists().length>0">
		<div class="list-group selection-list" data-bind="foreach:lists">
			<a href="#" class="list-group-item" data-bind="event:{click:$root.update}">
				<span data-bind="text:name"></span>
			</a>
		</div>
	</div>
	
	<div data-bind="visible:lists().length==0" class="no-data">
		<span class="glyphicon glyphicon-list-alt"></span><br />
		<div data-bind="text:_('You have not created lists yet')"></div>
		<a href="#" class="btn btn-primary" style="margin: 10px 0;" data-bind="click:create, text:_('Create list')"></a>
	</div>	
</div>