<form role="form" style="padding-bottom:70px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<h4 class="navbar-text" style="margin-left:10px;"><a href="#">List</a></h4>
		<div class="pull-right" style="margin-right:10px;">
			<a href="#" class="btn btn-default navbar-btn">Cancel</a>
			<button type="submit" class="btn btn-primary" data-bind="click:save">Create</button>
		</div>
	</nav>
    <div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Name" data-bind="value:list.name" />
		</div>
		<div class="form-group">
			<label>Products</label>
			<div class="list-group">
				<!-- ko foreach:items -->
					<a class="list-group-item" data-bind="attr:{href:'#lists/{0}/items/{1}'.format($root.id, id)}">
						<!-- ko if:imageUrl -->
							<img class="pull-right" data-bind="attr:{src:imageUrl}" style="max-height:42px;" />
						<!-- /ko -->
						<small class="text-muted" data-bind="text:'{0} {1}'.format(quantity, unit)"></small>
						<div data-bind="text:name"></div>
					</a>
				<!-- /ko -->
				<a class="list-group-item" style="background:#e4e4e4; text-align:center; font-weight:bold;" data-bind="attr:{href:'#lists/{0}/product/search'.format($root.id)}">+ Add product</a>
			</div>
		</div>
	</div>		
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<p class="navbar-text text-center" style="float:none;">Estimated price: $45</p>
	</nav>
</form>