<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" data-bind="text: title"></h4>
			</div>
			<div class="modal-body">
				<p class="message" data-bind="text: message"></p>
			</div>
			<div class="modal-footer" data-bind="foreach: options">
				<button class="btn" data-bind="click: function () { $parent.selectOption($data); }, text: $data, css: { 'btn-primary': $index() == 0, autofocus: $index() == 0 }"></button>
			</div>
		</div>
	</div>
</div>