<form data-bind="submit:save" style="margin-top:15px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="pull-left">
			<a href="#" class="btn" data-bind="click:$root.back"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<div class="navbar-text text-center title" data-bind="with:product"><span data-bind="text:name"></span></div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs hidden-sm">Save</span></button>
		</div>
	</nav>
	<div data-bind="with:product" style="margin-bottom:20px;">
		<div class="form-group" style="position:relative;">
			<input type="text" name="name" class="form-control" placeholder="Name" data-bind="value:name" />
			<button class="btn btn-default btn-right" type="button" data-bind="click:$root.attachPicture"><span class="glyphicon glyphicon-picture"></span></button>
		</div>
		<div class="form-group" style="position:relative;">	
			<input type="number" class="form-control" name="code" placeholder="Barcode #" data-bind="value:code" />
			<button class="btn btn-default btn-right" type="button" data-bind="click:$root.scan"><span class="glyphicon glyphicon-barcode"></span></button>
		</div>
		<div class="form-group">
			<!-- <select name="cid" data-bind="options:$root.productCategories, optionsValue:'id', optionsText:'name', optionsCaption:'Select a category...'"></select> -->
			<select name="cid" class="form-control"><option value="">Select a category...</option><option value="1">Vegetables</option><option value="2">Fruits</option><option value="3">Refrigerated</option><option value="4">Frozen</option><option value="5">Condiments</option><option value="6">Groceries</option><option value="7">Canned foods</option><option value="8">Dairy</option><option value="9">Meat</option><option value="10">Seefood</option><option value="11">Beverages</option><option value="12">Snacks</option><option value="13">Baby stuffs</option><option value="14">Pets</option><option value="15">Personal care</option><option value="16">Medicine</option><option value="17">Cleaning stuff</option><option value="18">Office supplies</option></select>
		</div>
		
		<!-- ko if:picture()!='undefined' -->
			<div style="padding-bottom:30px;"><img data-bind="attr:{src:picture}" style="width:100%;" /></div>
		<!-- /ko -->
	</div>		
</form>

