<form data-bind="submit:save" style="margin-top:15px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="pull-left">
			<a href="#" class="btn" data-bind="click:$root.back"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<div class="navbar-text text-center title" data-bind="with:product"><span data-bind="text:name"></span></div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs" data-bind="text:_('Save')"></span></button>
		</div>
	</nav>
	<div data-bind="with:product" style="margin-bottom:20px;">
		<div class="form-group" style="position:relative;">
			<input type="text" name="name" class="form-control" data-bind="value:name, attr:{placeholder:_('Name')}" />
			<button class="btn btn-default btn-right" type="button" data-bind="click:$root.attachPicture"><span class="glyphicon glyphicon-picture"></span></button>
		</div>
		<div class="form-group" style="position:relative;">	
			<input type="number" class="form-control" name="code" data-bind="value:code, attr:{placeholder:'{0} #'.format(_('Barcode'))}" />
			<button class="btn btn-default btn-right" type="button" data-bind="click:$root.scan"><span class="glyphicon glyphicon-barcode"></span></button>
		</div>
		<div class="form-group">
			<select name="cid" class="form-control" data-bind="options:$root.productCategories, optionsValue:'id', optionsText:'nameTranslated', optionsCaption:'{0}...'.format(_('Select a category')), value:category.id"></select>
		</div>
		
		<!-- ko if:picture()!='undefined' -->
			<div style="padding-bottom:30px;"><img data-bind="attr:{src:picture}" style="width:100%;" /></div>
		<!-- /ko -->
	</div>		
</form>

