<form data-bind="submit:save" style="margin-top:15px;">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="pull-left">
			<a href="#" class="btn" data-bind="click:$root.back"><span class="glyphicon glyphicon-chevron-left"></span></a>
		</div>
		<div class="navbar-text text-center title" data-bind="with:product"><span data-bind="text:name"></span></div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs hidden-sm">Save</span></button>
		</div>
	</nav>
	<div data-bind="with:product" style="margin-bottom:20px;">
		<div class="form-group" style="position:relative;">
			<input type="text" name="name" class="form-control" placeholder="Name" data-bind="value:name" />
			<button class="btn btn-default btn-right" type="button" data-bind="click:$root.attachPicture"><span class="glyphicon glyphicon-picture"></span></button>
		</div>
		<div class="form-group" style="position:relative;">	
			<input type="number" class="form-control" name="code" placeholder="Barcode #" data-bind="value:code" />
			<button class="btn btn-default btn-right" type="button" data-bind="click:$root.scan"><span class="glyphicon glyphicon-barcode"></span></button>
		</div>
		<div class="form-group">
			<select name="cid" class="form-control" data-bind="options:$root.productCategories, optionsValue:'id', optionsText:'name', optionsCaption:'Select a category...'"></select>
		</div>
		
		<!-- ko if:picture()!='undefined' -->
			<div style="padding-bottom:30px;"><img data-bind="attr:{src:picture}" style="width:100%;" /></div>
		<!-- /ko -->
	</div>		
</form>

