<div id="settings" style="margin-top: 20px;">
	<style>
		.list-group-item-text {color:#999;}
	</style>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-text text-center title" data-bind="text:_('Settings')"></div>
	</nav>
	
	<div class="list-group selection-list">
		<a href="#settings" class="list-group-item">
			<h4 class="list-group-item-heading">Language</h4>
			<p class="list-group-item-text">Default</p>
		</a>
		<a href="#settings" class="list-group-item">
			<h4 class="list-group-item-heading">Dropbox Sync</h4>
			<p class="list-group-item-text">Off (Coming soon)</p>
		</a>
		<a href="#settings" class="list-group-item">
			<h4 class="list-group-item-heading">About</h4>
			<p class="list-group-item-text">version 1.0.0</p>
		</a>
	</div>
</div>