body { padding-top: 51px; }
#logo-header {background:url(images/logo-header.png) no-repeat; background-size:32px;}

.item-checked,
.list-group-item.item-checked:hover {text-decoration: line-through;}
.list-group-item {border-radius:0 !important;}
.item-checked .image {opacity:.5; -webkit-filter: grayscale(100%);}

.menu {}
.menu .menu-item {
	padding: 15px;
	display: block;
	border-bottom: 1px solid #DDD;
}
.menu .menu-item:last-child {
	border:0;
}

.form-control {border-radius: 0; border-right: 0; border-left: 0; border-top: 0px; outline: none; box-shadow:none !important; -webkit-box-shadow:none !important;}
.btn-right {border: 0; position: absolute; top: 0; right: 0; border-radius: 0;}
select {-webkit-appearance: textfield;}